image: runmymind/docker-android-sdk:ubuntu-standalone-20251027

variables:
  USE_PROXY_REPO: true

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

cache: &global_cache
  when: always
  paths:
    - .gradle/wrapper
    - .gradle/caches
    - .gradle/jdks

stages:
  - test

components-tests:
  stage: test
  cache:
    <<: *global_cache
    key: components-tests
  script: ./gradlew :components:koverXmlReportJvm :components:koverLogJvm
  coverage: '/application line coverage: (\d+)\./'
  artifacts:
    when: always
    reports:
      junit: components/build/test-results/jvmTest/**/TEST-*.xml
      coverage_report:
        coverage_format: jacoco
        path: components/build/reports/kover/reportJvm.xml

android-tests:
  stage: test
  cache:
    <<: *global_cache
    key: android-tests
  script: ./gradlew :composeApp:koverXmlReportDebug :composeApp:koverLogDebug
  coverage: '/application line coverage: (\d+)\./'
  artifacts:
    when: always
    paths:
      - composeApp/build/outputs/roborazzi/*_compare.png
    reports:
      junit: composeApp/build/test-results/testDebugUnitTest/**/TEST-*.xml
      coverage_report:
        coverage_format: jacoco
        path: composeApp/build/reports/kover/reportDebug.xml

jvm-tests:
  stage: test
  cache:
    <<: *global_cache
    key: jvm-tests
  script: ./gradlew :composeApp:koverXmlReportJvm :composeApp:koverLogJvm
  coverage: '/application line coverage: (\d+)\./'
  artifacts:
    when: always
    reports:
      junit: composeApp/build/test-results/jvmTest/**/TEST-*.xml
      coverage_report:
        coverage_format: jacoco
        path: composeApp/build/reports/kover/reportJvm.xml

update-screenshots:
  stage: test
  cache:
    <<: *global_cache
    key: update-screenshots
  when: manual
  allow_failure: true
  script: ./gradlew :composeApp:recordRoborazziDebug
  after_script:
    - git config user.email "${GITLAB_USER_EMAIL}"
    - git config user.name "GitLab CI Bot"
    - git add .
    - git commit -m "[gitlab-ci] Update screenshots"
    - git push "https://oauth2:${REPO_PUSH_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git" HEAD:"${CI_COMMIT_REF_NAME}"
