<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>FirebaseCrashlyticsCollectionEnabled</key>
        <string>${CrashlyticsEnabled}</string>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />
        <key>UIApplicationShortcutItems</key>
        <array>
            <dict>
                <key>UIApplicationShortcutItemIconType</key>
                <string>UIApplicationShortcutIconTypeSearch</string>
                <key>UIApplicationShortcutItemSubtitle</key>
                <string>xd1 subtitle</string>
                <key>UIApplicationShortcutItemTitle</key>
                <string>xd1 title</string>
                <key>UIApplicationShortcutItemType</key>
                <string>pl.inno4med.asystent.SHORTCUT</string>
            </dict>
        </array>
        <key>UIBackgroundModes</key>
        <array>
            <string>remote-notification</string>
            <string>fetch</string>
        </array>
        <key>UILaunchScreen</key>
        <dict>
            <key>UIColorName</key>
            <string>surface</string>
            <key>UIImageName</key>
            <string>LaunchImage</string>
        </dict>
    </dict>
</plist>
